.app__midsection-imgtotext {
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 20px;
}

.app__midsection-h2 {
    color: black;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.app__midsection-p {
    color: black;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.app__midsection-image-preview {
    color: black;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}